<form class="{{cssClass}}" autocomplete="off">
    {{log actor}}
    <header class="sheet-header">
        <div class="header-fields">
            <div class="complements flexrow">
                <div class="flex-4 flexrow">
                    <label class="attribute-label">
                        {{#if actor.system.leaderPosition}}
                            {{actor.system.leaderPosition.name}}
                        {{else}}
                            {{localize "CS.sheets.organization.labels.noLeader"}}
                        {{/if}}
                    </label>
                    <label class="link-field open-actor-sheet size75">{{actor.system.leaderNamesString}}</label>
                </div>
                <div class="flex-4 flexrow">
                    <label class="attribute-label">
                        {{#if actor.system.stewardPosition}}
                            {{actor.system.stewardPosition.name}}
                        {{else}}
                            {{localize "CS.sheets.organization.labels.noSteward"}}
                        {{/if}}
                    </label>
                    <label class="link-field open-actor-sheet size75">{{actor.system.stewardNamesString}}</label>
                </div>
                <div class="flex-2 text-align-right">
                    <span class="refresh-sheet"><a><i class="fas fa-sync padding-3"></i></a></span>
                </div>
            </div>
            <div class="flexrow">
                <h1 class="charname flex-9"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "CS.sheets.generalLabels.name"}}"/></h1>
                <div class="profile-list-img-container flex-1 center" style="height: 50px;">
                    <img class="profile-list-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                </div>
            </div>
            <div class="complements flexrow">
                <label class="attribute-label">{{ localize "CS.sheets.organization.labels.motto"}}</label>
                <span style="height: 25px; padding: 0; margin: 2px; border-bottom: 0;">
                    <input
                            class="field"
                            style="width: 98%; height: 100%; margin: 2px;"
                            name="system.motto"
                            type="text"
                            value="{{actor.system.motto}}"
                            data-dtype="String"
                            placeholder=""
                    />
                </span>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs flexrow tabs" data-group="primary">
        <a class="item" data-tab="dashboard">{{localize "CS.sheets.generalLabels.dashboard"}}</a>
        <a class="item" data-tab="territory">{{localize "CS.sheets.organization.labels.territory"}}</a>
        <a class="item" data-tab="military">{{localize "CS.sheets.organization.labels.military"}}</a>
        <a class="item" data-tab="events">{{localize "CS.sheets.house.events.title"}}</a>
        <a class="item" data-tab="structure">{{localize "CS.sheets.organization.labels.structure"}}</a>
        <a class="item" data-tab="associates">{{localize "CS.sheets.organization.labels.associates"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> "systems/chroniclesystem/templates/actors/partials/tabs/org-dashboard-tab.hbs"}}
        {{> "systems/chroniclesystem/templates/actors/partials/tabs/territory-tab.hbs"}}
        {{> "systems/chroniclesystem/templates/actors/partials/tabs/military-tab.hbs"}}
        {{> "systems/chroniclesystem/templates/actors/partials/tabs/events-tab.hbs"}}
        {{> "systems/chroniclesystem/templates/actors/partials/tabs/structure-tab.hbs"}}
        {{> "systems/chroniclesystem/templates/actors/partials/tabs/associates-tab.hbs"}}
    </section>
</form>