<tr class="item {{listName}}" data-item-id="{{id}}">
    <td class="field img profile-td-img-container open-actor-sheet" data-id="{{member.id}}">
        <img class="profile-td-img" src="{{member.img}}" title="{{member.name}}" alt="{{member.img}}" />
    </td>
    <td class="field name text-align-left open-actor-sheet" data-id="{{member.id}}">{{member.name}}</td>
    <td class="field role text-align-left open-actor-sheet" data-id="{{member.id}}">
        {{localize (concat "CS.sheets.house.character.roles." (toLowerCase role))}}
    </td>
    <td class="field age center open-actor-sheet" data-id="{{member.id}}">{{member.age}}</td>
    <td class="field status center open-actor-sheet" data-id="{{member.id}}">{{member.status}}</td>
    <td class="field">
        <a class="item-control" data-id="{{member.id}}" data-role="{{role}}" data-action="delete">
            <i class="fas fa-trash padding-3"></i>
        </a>
    </td>
</tr>