<div class="tab flexrow" data-group="primary" data-tab="actions-combat">
    <section class="combat">
        <header class="header-field">
            <span>{{localize "CS.sheets.generalLabels.combat"}}</span>
        </header>
        <ol class="list equipment-list">
            <li class="list-header flexrow">
                <div class="weapon-label padding-3">{{localize "CS.sheets.generalLabels.name"}}</div>
                <div class="equipment-cost padding-3">{{localize "CS.sheets.generalLabels.type"}}</div>
                <div class="item-controls item-controls-column"><i class="fas fa-cog"></i></div>
            </li>
            {{#each character.owned.actionsCombatOne as |action index|}}
                <li class="item flexrow" data-item-id="{{_id}}">
                    <a class="item item-edit flexrow" data-item-id="{{_id}}" data-item-type="action">
                        <div class="weapon-label field">
                            {{action.name}}
                        </div>
                        <div class="equipment-cost field">
                            {{toUpperCase (localize action.system.typeName)}}
                        </div>
                    </a>
                    <div class="item-controls padding-3">
                        <a class="item-control owned-item-control" title="{{localize "CS.sheets.generalLabels.delete"}}" data-index="{{index}}" data-list="actionsCombatOne" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    <section class="combat">
        <header class="header-field">
            <span>&nbsp;</span>
        </header>
        <ol class="list equipment-list">
            <li class="list-header flexrow">
                <div class="weapon-label padding-3">{{localize "CS.sheets.generalLabels.name"}}</div>
                <div class="equipment-cost padding-3">{{localize "CS.sheets.generalLabels.type"}}</div>
                <div class="item-controls item-controls-column"><i class="fas fa-cog"></i></div>
            </li>
            {{#each character.owned.actionsCombatTwo as |action index|}}
                <li class="item flexrow" data-item-id="{{_id}}">
                    <a class="item item-edit flexrow" data-item-id="{{_id}}" data-item-type="action">
                        <div class="weapon-label field">
                            {{action.name}}
                        </div>
                        <div class="equipment-cost field">
                            {{toUpperCase (localize action.system.typeName)}}
                        </div>
                    </a>
                    <div class="item-controls padding-3">
                        <a class="item-control owned-item-control" title="{{localize "CS.sheets.generalLabels.delete"}}" data-index="{{index}}" data-list="actionsCombatTwo" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    <section class="warfare">
        <header class="header-field">
            <span>{{localize "CS.sheets.generalLabels.warfare"}}</span>
        </header>
        <ol class="list equipment-list">
            <li class="list-header flexrow">
                <div class="weapon-label padding-3">{{localize "CS.sheets.generalLabels.name"}}</div>
                <div class="equipment-cost padding-3">{{localize "CS.sheets.generalLabels.type"}}</div>
                <div class="item-controls item-controls-column"><i class="fas fa-cog"></i></div>
            </li>
            {{#each character.owned.actionsWarfare as |action index|}}
                <li  class="item item-edit flexrow" data-item-id="{{_id}}">
                    <a class="item flexrow" data-item-id="{{_id}}">
                        <div class="weapon-label field">{{action.name}}</div>
                        <div class="equipment-cost field">
                            {{toUpperCase (localize action.system.typeName)}}
                        </div>
                    </a>
                    <div class="item-controls padding-3">
                        <a class="item-control owned-item-control" title="{{localize "CS.sheets.generalLabels.delete"}}" data-index="{{index}}" data-list="actionsWarfare" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
        <ol class="list equipment-list">
            <li class="list-header flexrow">
                <div class="center">{{localize "CS.sheets.actionItem.isWarfareTurnEnds"}}</div>
            </li>
            <li class="list-header flexrow">
                <div class="weapon-label padding-3">{{localize "CS.sheets.generalLabels.name"}}</div>
                <div class="equipment-cost padding-3">{{localize "CS.sheets.generalLabels.type"}}</div>
                <div class="item-controls item-controls-column"><i class="fas fa-cog"></i></div>
            </li>
            {{#each character.owned.actionsWarfareTurnEnd as |action index|}}
                <li class="item item-edit flexrow" data-item-id="{{_id}}">
                    <a class="item flexrow" data-item-id="{{_id}}">
                        <div class="weapon-label field">{{action.name}}</div>
                        <div class="equipment-cost field">
                            {{toUpperCase (localize action.system.typeName)}}
                        </div>
                    </a>
                    <div class="item-controls padding-3">
                        <a class="item-control owned-item-control" title="{{localize "CS.sheets.generalLabels.delete"}}" data-index="{{index}}" data-list="actionsWarfareTurnEnd" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>

    </section>
</div>
