<div class="tab flexrow" data-group="primary" data-tab="combat-and-intrigue">
    <section class="derived-statistics">
        <header class="header-field">
            <span>Destiny Points</span>
        </header>
        <section class="destiny flexrow">
            <section class="">
            </section>
            <section class="">
            </section>
            <section class="flexrow">
                {{> (formGroup) labelText="Current:" id="system.destinyPoints.current" value=character.destinyPoints.current inputCssClass="small-field" placeHOlder="Current" dataType="Number" }}
                {{> (formGroup) labelText="Max:" id="system.destinyPoints.max" value=character.destinyPoints.max inputCssClass="small-field" placeHOlder="Max" dataType="Number" }}
            </section>
        </section>
        <section class="intrigue">
            <header class="header-field">
                <span>Intrigue</span>
            </header>
            <section class="content flexrow">
                <section class="stats">
                    <header class="subheader-field">
                        <span>Intrigue Defense</span>
                    </header>

                    <div class="form-group">
                        <span class="form-fields">
                              <input
                                      name="system.derivedStats.intrigueDefense.value"
                                      type="text"
                                      value="{{character.derivedStats.intrigueDefense.value}}"
                                      placeholder="Value"
                                      readonly="readonly"
                                      data-dtype="Number"
                              />
                            <b>+</b>
                              <input
                                      name="system.derivedStats.intrigueDefense.modifier"
                                      type="text"
                                      value="{{character.derivedStats.intrigueDefense.modifier}}"
                                      placeholder="Value"
                                      data-dtype="Number"
                              />
                            <b>=</b>
                            <input
                                    name="system.derivedStats.intrigueDefense.total"
                                    type="text"
                                    value="{{character.derivedStats.intrigueDefense.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span class="form-fields">Damage Resistance</span>
                    </header>
                    <div class="center padding-1">{{character.composureResistance}}</div>
                    <header class="subheader-field">
                        <span>Composure</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="system.derivedStats.composure.value"
                                    type="text"
                                    value="{{character.derivedStats.composure.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="system.derivedStats.composure.modifier"
                                    type="text"
                                    value="{{character.derivedStats.composure.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="system.derivedStats.composure.value"
                                    type="text"
                                    value="{{character.derivedStats.composure.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    {{> (formGroup) labelText="Current:" id="system.derivedStats.composure.current" value=character.derivedStats.composure.current inputCssClass="" placeHolder="Current" dataType="Number" }}
                    <header class="subheader-field">
                        <span>Frustration</span>
                    </header>
                    {{> (ratingCheckbox) max=character.derivedStats.frustration.total currentValue=character.derivedStats.frustration.current dataType="Frustration" }}
                    <section class="stress flexrow">
                    <header class="subheader-field">
                        <span>Stress</span>
                    </header>
                    {{> (ratingCheckbox) max=2 currentValue=character.currentStress dataType="Stress" }}
                    </section>
                </section>
                <section class="disposition">
                    <header class="subheader-field">
                        <span>Current Disposition</span>
                    </header>
                    <div class="disposition-list">
                        {{#each dispositions}}
                                <div class="disposition option capitalize {{showIfEquals @index ../character.currentDisposition "selected"}}" data-id="{{@index}}">
                                    {{localize this.name}}
                                </div>
                        {{/each}}
                    </div>
                </section>
                <section class="techniques">
                    <header class="subheader-field">
                        <span>Techniques</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Technique</th>
                            <th>Influence</th>
                            <th>Persuasion</th>
                            <th>Deception</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each techniques}}
                        <tr>
                            <td class="capitalize">{{this.name}}</td>
                            <td>{{this.influence}}</td>
                            <td class="rollable" id="persuasion:{{this.name}}:{{formulaToStr this.persuasion}}"><a>{{format-formula this.persuasion}}</a></td>
                            <td class="rollable" id="deception:{{this.name}}:{{formulaToStr this.deception}}"><a>{{format-formula this.deception}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
        <section class="combat">
            <header class="header-field">
                <span>Combat</span>
            </header>
            <section class="content flexrow">
                <section class="stats">
                    <header class="subheader-field">
                        <span>Combat Defense</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="system.derivedStats.combatDefense.value"
                                    type="text"
                                    value="{{character.derivedStats.combatDefense.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="system.derivedStats.combatDefense.modifier"
                                    type="text"
                                    value="{{character.derivedStats.combatDefense.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="system.derivedStats.combatDefense.value"
                                    type="text"
                                    value="{{character.derivedStats.combatDefense.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span class="form-fields">Damage Resistance</span>
                    </header>
                    <div class="center padding-1">{{character.damageResistance}}</div>
                    <header class="subheader-field">
                        <span>Health</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="system.derivedStats.health.value"
                                    type="text"
                                    value="{{character.derivedStats.health.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="system.derivedStats.health.modifier"
                                    type="text"
                                    value="{{character.derivedStats.health.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="system.derivedStats.health.value"
                                    type="text"
                                    value="{{character.derivedStats.health.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="system.derivedStats.health.current">Current</label>
                        <span class="form-fields">
                            <input
                                    name="system.derivedStats.health.current"
                                    type="text"
                                    value="{{character.derivedStats.health.current}}"
                                    placeholder="Current"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span>Fatigue</span>
                    </header>
                    {{> (ratingCheckbox) max=character.derivedStats.fatigue.total currentValue=character.derivedStats.fatigue.current dataType="Fatigue" }}
                    <header class="subheader-field">
                        <span>Movement</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Base</th>
                            <th>Sprint</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{character.movement.total}}</td>
                            <td>{{character.movement.sprintTotal}}</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <section class="healthState">
                    <header class="subheader-field flexrow">
                        <div class="header-title">
                            <span>Injuries ({{currentInjuries}} / {{maxInjuries}})</span>
                        </div>
                        <div class="header-field-add">
                            <a class="injury-create" data-type="skill"><i class="fa fa-plus"></i></a>
                        </div>
                    </header>
                    <ol class="injuries-list list resizable" data-base-size="150">
                        {{#each character.injuries as |injury id|}}
                            <li class="injury flexrow" data-item-id="{{id}}">
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input
                                        class="big-field"
                                        type="text"
                                        name="system.injuries.{{id}}"
                                        value="{{injury}}"
                                        placeholder="Description"
                                        data-dtype="String"
                                />
                                <a class="injury-control item-controls" data-id="{{id}}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </li>
                        {{/each}}
                    </ol>
                    <header class="subheader-field flexrow">
                        <div class="header-title">
                            <span>Wounds ({{currentWounds}} / {{maxWounds}})</span>
                        </div>
                        <div class="header-field-add">
                            <a class="wound-create" data-type="skill"><i class="fa fa-plus"></i></a>
                        </div>
                    </header>
                    <ol class="wounds-list list resizable" data-base-size="150">
                        {{#each character.wounds as |wound id|}}
                            <li class="wound flexrow" data-item-id="{{id}}">
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input
                                        class="big-field"
                                        type="text"
                                        name="system.wounds.{{id}}"
                                        value="{{wound}}"
                                        placeholder="Description"
                                        data-dtype="String"
                                />
                                <a class="wound-control item-controls" data-id="{{id}}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </li>
                        {{/each}}
                    </ol>
                </section>
                <section class="weapons">
                    <header class="subheader-field">
                        <span>Current Equipped Weapons</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Weapon</th>
                            <th>Test</th>
                            <th>Damage</th>
                            <th>Defense</th>
                            <th class="item-controls"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each character.owned.weapons as |weapon index|}}
                            <tr class="item weapon" data-item-id="{{_id}}">
                                <td class="weapon-label item-edit field"><a>{{weapon.name}} {{showIfEquals weapon.system.equipped 3 "(Off-hand)" : ""}}</a></td>
                                <td class="rollable" id="weapon-test:{{weapon.name}}:{{formulaToStr weapon.formula}}">
                                    <a>{{format-formula weapon.formula}}</a>
                                </td>
                                <td> {{weapon.damageValue}}</td>
                                <td>
                                    {{showIfDifferent 0 weapon.system.defense weapon.system.defense : ""}}
                                </td>
                                <td class="item-controls flexrow">
                                    {{#ifDifferent weapon.system.equipped ../notEquipped}}
                                    {{#ifDifferent 0 weapon.system.defense}}
                                    <a class="checkButton defending {{showIfTrue weapon.system.isDefending "activated" ""}}" data-item-id="{{_id}}" data-to-state="{{showIfTrue weapon.system.isDefending false true}}"><i class="fas fa-shield-alt"></i></a>
                                    {{/ifDifferent}}
                                    {{/ifDifferent}}
                                    <a class="checkButton equipped {{showIfContains "2|4" weapon.system.equipped "activated" ""}}" data-item-id="{{_id}}" data-hand="{{showIfContains "2|4" weapon.system.equipped 0 2}}" data-type="weapon"><i class="fa fa-hand-paper"></i></a>
                                    <a class="checkButton equipped off-hand {{showIfContains "3|4" weapon.system.equipped "activated" ""}}" data-item-id="{{_id}}" data-hand="{{showIfContains "3|4" weapon.system.equipped 0 3}}" data-type="weapon"><i class="fa fa-hand-paper"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <header class="subheader-field">
                        <span>Current Equipped Armor</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Armor</th>
                            <th>Rating</th>
                            <th>Penalty</th>
                            <th class="item-controls"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each character.owned.armors as |armor index|}}
                            <tr class="item armor" data-item-id="{{_id}}">
                                <td class="armor-label item-edit field"><a>{{armor.name}}</a></td>
                                <td>{{armor.system.rating}}</td>
                                <td>{{armor.system.penalty}}</td>
                                <td class="item-controls flexrow">
                                    <a class="checkButton equipped {{showIfEquals "1" armor.system.equipped "activated" ""}}" data-item-id="{{_id}}" data-hand="{{showIfEquals "1" armor.system.equipped 0 1}}" data-type="armor"><i class="fas fa-shield-alt"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </section>
</div>
