<div class="tab flexrow" data-group="primary" data-tab="events">
    <section class="events">
        <header class="header-field">
            <span>{{localize "CS.sheets.house.events.title"}}</span>
        </header>
        <table class="events-list hover-table">
            <colgroup>
                <col style="width: 15%;" />
                <col style="width: 25%;" />
                <col style="width: 5%;" />
                <col style="width: 50%;" />
                <col style="width: 5%;" />
            </colgroup>
            <thead>
            <tr>
                <th><span>{{localize "CS.sheets.generalLabels.date"}}</span></th>
                <th></th>
                <th class="text-align-left"><span></span></th>
                <th class="text-align-left"><span></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each character.owned.events as |event index|}}
                <tr class="item" data-item-id="{{_id}}">
                    <td class="item-edit padding-3 text-align-left">
                        {{#if event.system.date.year}}{{event.system.date.year}}{{#if event.system.date.month}}-{{event.system.date.month}}{{#if event.system.date.day}}-{{event.system.date.day}}{{/if}}{{/if}}{{/if}}
                    </td>
                    <td class="text-align-left item-edit">{{event.name}}</td>
                    <td class="profile-td-img-container item-edit padding-3">
                        <img class="profile-td-img" src="{{event.img}}" />
                    </td>
                    <td
                            class="text-align-left font-small item-edit"
                            title="{{stripHTML event.system.description}}"
                    >
                        {{truncateParagraphString event.system.description 200}}
                    </td>
                    <td>
                        <a
                                class="item-control owned-item-control"
                                data-index="{{index}}"
                                data-list="events"
                                data-action="delete"
                                title="{{localize "CS.sheets.generalLabels.delete"}}"
                        >
                            <i class="fas fa-trash padding-3"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
</div>
