<div class="tab flexrow members" data-group="primary" data-tab="members">
    <section class="family">
        <header class="header-field">
            <span>{{localize "CS.sheets.house.labels.members"}}</span>
        </header>
        <table class="member-list hover-table">
            <thead>
            <tr>
                <th><span>&nbsp;</span></th>
                <th class="text-align-left"><span>{{localize "CS.sheets.generalLabels.name"}}</span></th>
                <th class="text-align-left"><span>{{localize "CS.sheets.house.labels.role"}}</span></th>
                <th class="minimal-width"><span>{{localize "CS.sheets.character.age"}}</span></th>
                <th class="minimal-width"><span>{{localize "CS.sheets.house.labels.status"}}</span></th>
                <th class="minimal-width"><span>&nbsp;</span></th>
            </tr>
            </thead>
            <tbody>
            {{#if actor.system.head.id}}
                {{> (memberListItem) listName="family" member=actor.system.head role="HEAD" }}
            {{/if}}
            {{#each actor.system.heirs as |heir index|}}
                {{> (memberListItem) listName="family" member=heir role="HEIR" }}
            {{/each}}
            {{#each actor.system.family as |family index|}}
                {{> (memberListItem) listName="family" member=family role="FAMILY" }}
            {{/each}}
            {{#if actor.system.steward.id}}
                {{> (memberListItem) listName="servant" member=actor.system.steward role="STEWARD" }}
            {{/if}}
            {{#each actor.system.retainers as |retainer index|}}
                {{> (memberListItem) listName="servant" member=retainer role="RETAINER" }}
            {{/each}}
            {{#each actor.system.servants as |servant index|}}
                {{> (memberListItem) listName="servant" member=servant role="SERVANT" }}
            {{/each}}
            </tbody>
        </table>
    </section>
</div>
