<div class="tab flexrow" data-group="primary" data-tab="structure">
    <section>
        <section class="positions">
            <header class="header-field">
                <span>{{localize "CS.sheets.organization.labels.positions"}}</span>
            </header>
            <table class="custom-roles-list hover-table">
                <colgroup>
                    <col style="width: 5%" />
                    <col style="width: 25%;" />
                    <col style="width: 45%;" />
                    <col style="width: 20%;" />
                    <col style="width: 5%;" />
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th class="text-align-left"><span>{{localize "CS.sheets.generalLabels.name"}}</span></th>
                    <th class="text-align-left"><span>{{localize "CS.sheets.generalLabels.description"}}</span></th>
                    <th class="center">{{localize "CS.sheets.generalLabels.config"}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each actor.system.owned.positions as |position index|}}
                <tr class="item" data-item-id="{{_id}}">
                    <td class="profile-td-img-container item-edit">
                        <img
                                class="profile-td-img"
                                src="{{position.img}}"
                                title="{{position.name}}"
                        />
                    </td>
                    <td class="td-left-label item-edit">{{position.name}}</td>
                    <td class="text-align-left font-small item-edit">
                        {{truncateParagraphString position.system.description}}
                    </td>
                    <td>
                        <a
                                class="checkButton equipped {{showIfEquals "9" position.system.equipped "activated" ""}}"
                                data-item-id="{{_id}}"
                                data-type="{{showIfEquals "9" position.system.equipped 0 9}}"
                                title="{{localize "CS.sheets.organization.positions.isLeaderDesc"}}"
                        >
                            <i class="fa-solid fa-crown padding-3"></i>
                        </a>
                        <a
                                class="checkButton equipped {{showIfEquals "10" position.system.equipped "activated" ""}}"
                                data-item-id="{{_id}}"
                                data-type="{{showIfEquals "10" position.system.equipped 0 10}}"
                                title="{{localize "CS.sheets.organization.positions.isStewardDesc"}}"
                        >
                            <i class="fa-solid fa-scroll padding-3"></i>
                        </a>
                        <a
                                class="checkButton item-flag-toggle {{showIfTrue position.system.isImportant "activated" ""}}"
                                data-item-id="{{_id}}"
                                data-name="isImportant"
                                data-value="{{position.system.isImportant}}"
                                title="{{localize "CS.sheets.organization.positions.isImportantDesc"}}"
                        >
                            <i class="fas fa-star padding-3"></i>
                        </a>
                    </td>
                    <td>
                        <a
                                class="item-control owned-item-control"
                                data-index="{{index}}"
                                data-list="positions"
                                data-action="delete"
                                title="{{localize "CS.sheets.generalLabels.delete"}}"
                        >
                            <i class="fas fa-trash padding-3"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </section>
    </section>
</div>
