<div class="tab flexrow" data-group="primary" data-tab="structure">
    <section>
        <section class="structure">
            <header class="header-field">
                <span>{{localize "CS.sheets.organization.labels.leadership"}}</span>
            </header>
            <table class="key-roles-list hover-table">
                <colgroup>
                    <col style="width: 2%" />
                    <col style="width: 23%;" />
                    <col style="width: 40%;" />
                    <col style="width: 35%;" />
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th class="text-align-left"><span>{{localize "CS.sheets.organization.labels.role"}}</span></th>
                    <th class="text-align-left"><span>{{localize "CS.sheets.generalLabels.description"}}</span></th>
                    <th><span>{{localize "CS.sheets.generalLabels.custom"}} {{localize "CS.sheets.generalLabels.name"}}</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td class="td-left-label"><b>{{toUpperCase (localize "CS.sheets.organization.roles.leader")}}</b></td>
                    <td class="text-align-left font-small">{{localize "CS.sheets.organization.roles.leaderDesc"}}</td>
                    <td>
                        <input
                                name="system.roles.leader.name"
                                type="text" value="{{actor.system.roles.leader.name}}"
                                placeholder="{{localize "CS.sheets.organization.roles.leader"}}"
                                data-edit="system.roles.leader.name"
                        />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-left-label"><b>{{toUpperCase (localize "CS.sheets.organization.roles.successor")}}</b></td>
                    <td class="text-align-left font-small">{{localize "CS.sheets.organization.roles.successorDesc"}}</td>
                    <td>
                        <input
                                name="system.roles.successor.name"
                                type="text"
                                value="{{actor.system.roles.successor.name}}"
                                placeholder="{{localize "CS.sheets.organization.roles.successor"}}"
                                data-edit="system.roles.successor.name"
                        />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-left-label"><b>{{toUpperCase (localize "CS.sheets.organization.roles.superior")}}</b></td>
                    <td class="text-align-left font-small">{{localize "CS.sheets.organization.roles.superiorDesc"}}</td>
                    <td>
                        <input
                                name="system.roles.superior.name"
                                type="text"
                                value="{{actor.system.roles.superior.name}}"
                                placeholder="{{localize "CS.sheets.organization.roles.superior"}}"
                                data-edit="system.roles.superior.name"
                        />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-left-label"><b>{{toUpperCase (localize "CS.sheets.organization.roles.administrator")}}</b></td>
                    <td class="text-align-left font-small">{{localize "CS.sheets.organization.roles.adminDesc"}}</td>
                    <td>
                        <input
                                name="system.roles.administrator.name"
                                type="text"
                                value="{{actor.system.roles.administrator.name}}"
                                placeholder="{{localize "CS.sheets.organization.roles.administrator"}}"
                                data-edit="system.roles.administrator.name"
                        />
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="positions">
            <header class="header-field">
                <span>{{localize "CS.sheets.organization.labels.positions"}}</span>
            </header>
            <table class="custom-roles-list hover-table">
                <colgroup>
                    <col style="width: 5%" />
                    <col style="width: 20%;" />
                    <col style="width: 70%;" />
                    <col style="width: 5%;" />
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th class="text-align-left"><span>{{localize "CS.sheets.generalLabels.name"}}</span></th>
                    <th class="text-align-left"><span>{{localize "CS.sheets.generalLabels.description"}}</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each actor.system.owned.positions as |position index|}}
                <tr class="item" data-item-id="{{_id}}">
                    <td class="profile-td-img-container item-edit">
                        <img
                                class="profile-td-img"
                                src="{{position.img}}"
                                title="{{position.name}}"
                        />
                    </td>
                    <td class="td-left-label item-edit">{{position.name}}</td>
                    <td class="text-align-left font-small item-edit">{{enrich position.system.description}}</td>
                    <td>
                        <a
                                class="item-control owned-item-control"
                                title="{{localize "CS.sheets.generalLabels.delete"}}"
                                data-index="{{index}}"
                                data-list="positions"
                                data-action="delete"
                        >
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </section>
    </section>
</div>
