<div class="tab flexrow" data-group="primary" data-tab="warfare">
    <section class="derived-statistics flex-7">
        <section class="command">
            <header class="header-field">
                <span>Command</span>
            </header>
            <section class="flexrow">
                <section class="commander flex-4">
                    <header class="subheader-field">
                        <span>Commander</span>
                    </header>
                    <ol  class="list equipment-list">
                        <li class="item flexrow">
                            <div class="commander-profile-img-container">
                                <img class="profile-list-img" src="{{character.commander.img}}" title="{{character.commander.name}}" />
                            </div>
                            <div class="commander-txt-container"><label>{{character.commander.name}}</label></div>
                        </li>
                    </ol>
                </section>
                <section class="status flex-2">
                    <header class="subheader-field">
                        <span>Status</span>
                    </header>
                    <div class="disposition-list">
                        {{#each statuses}}
                            <div class="disposition status option capitalize {{showIfEquals this.rating ../character.currentStatus "selected"}}" data-id="{{this.rating}}">
                                {{localize this.name}}
                            </div>
                        {{/each}}
                    </div>
                </section>
                <section class="discipline flex-4">
                    <header class="subheader-field">
                        <span>Discipline</span>
                    </header>
                    <ol class="list equipment-list">
                        <li class="list-header flexrow">
                            <div class="">Base</div>
                            <div class="">Mod</div>
                            <div class="item-controls">Total</div>
                        </li>
                        <li  class="flexrow">
                            <input
                                    id="system.discipline.value"
                                    class="small-field"
                                    name="system.discipline.value"
                                    type="text"
                                    value="{{character.discipline.value}}"
                                    placeholder="0"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    id="system.discipline.modifier"
                                    class="small-field"
                                    name="system.discipline.modifier"
                                    type="text"
                                    value="{{character.discipline.modifier}}"
                                    placeholder="0"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    id="system.discipline.total"
                                    class="small-field"
                                    name="system.discipline.total"
                                    type="text"
                                    value="{{character.discipline.total}}"
                                    placeholder="0"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </li>
                        <li class="list-header flexrow">
                            <div class="center flex-6">By Orders Received</div>
                            <div class="flex-2"></div>
                            <div class="flex-2"></div>
                        </li>
                        <li class="flexrow">
                            <div class="flex-6">
                                {{> (ratingCheckbox) max=character.ordersReceived.total currentValue=character.ordersReceived.current dataType="OrdersReceived" }}
                            </div>
                            <div class="flex-2"></div>
                            <div class="flex-2 white-label">{{character.discipline.totalWithOrders}}</div>
                        </li>
                    </ol>
                </section>
            </section>
        </section>
        <section class="combat">
            <header class="header-field">
                <span>Combat</span>
            </header>
            <section class="flexrow">
                <section class="stats flex-1">
                    <header class="subheader-field">
                        <span>Defense</span>
                    </header>
                    <li class="list-header flexrow">
                        <div class="">Base</div>
                        <div class="center">Mod</div>
                        <div class="item-controls">Total</div>
                    </li>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="system.derivedStats.combatDefense.value"
                                    type="text"
                                    value="{{character.derivedStats.combatDefense.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="system.derivedStats.combatDefense.modifier"
                                    type="text"
                                    value="{{character.derivedStats.combatDefense.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="system.derivedStats.combatDefense.value"
                                    type="text"
                                    value="{{character.derivedStats.combatDefense.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>v. Melee</th>
                            <th>v. Ranged</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{character.discreteDefenses.vFighting.total}}</td>
                                <td>{{character.discreteDefenses.vMarksmanship.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <header class="subheader-field">
                        <span>Health</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="system.derivedStats.health.value"
                                    type="text"
                                    value="{{character.derivedStats.health.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="system.derivedStats.health.modifier"
                                    type="text"
                                    value="{{character.derivedStats.health.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="system.derivedStats.health.value"
                                    type="text"
                                    value="{{character.derivedStats.health.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="system.derivedStats.health.current">Current</label>
                        <span class="form-fields">
                            <input
                                    name="system.derivedStats.health.current"
                                    type="text"
                                    value="{{character.derivedStats.health.current}}"
                                    placeholder="Current"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span>Disorganisation</span>
                    </header>
                    {{> (ratingCheckbox) max=character.disorganisation.total currentValue=character.disorganisation.current dataType="Disorganisation" }}
                    <header class="subheader-field">
                        <span>Movement</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="system.movement.base"
                                    type="text"
                                    value="{{character.movement.base}}"
                                    placeholder="Base"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="system.derivedStats.movement.runBonus"
                                    type="text"
                                    value="{{character.movement.runBonus}}"
                                    placeholder="Run Bonus"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>-</b>
                            <input
                                    name="system.movement.bulk"
                                    type="text"
                                    value="{{character.movement.bulk}}"
                                    placeholder="Bulk"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>{{showIfLess character.movement.modifier 0 "-" : "+"}}</b>
                            <input
                                    name="system.movement.modifier"
                                    type="text"
                                    value="{{showAbs character.movement.modifier}}"
                                    placeholder="Modifier"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="system.derivedStats.movement.total"
                                    type="text"
                                    value="{{character.movement.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                </section>
                <section class="facing flex-4">
                    <header class="subheader-field">
                        <span>Facing</span>
                    </header>
                    <li class="list-header flexrow">
                        <div class="">Target</div>
                    </li>
                    <div class="disposition-list">
                        {{#each facings}}
                            <div class="disposition facing option flexrow {{showIfEquals this.rating ../character.currentFacing "selected"}}" data-id="{{this.rating}}">
                                <label class="" data-id="{{this.rating}}">{{localize this.name}}</label>
                            </div>
                        {{/each}}
                    </div>
                </section>
                <section class="weapons flex-5">
                    <header class="subheader-field">
                        <span>Current Equipped Weapons</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Weapon</th>
                            <th>Test</th>
                            <th>Damage</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each character.owned.weapons as |weapon index|}}
                            {{#ifDifferent weapon.system.equipped ../notEquipped}}
                                <tr>
                                    <td>{{weapon.name}}</td>
                                    <td class="rollable" id="weapon-test:{{weapon.name}}:{{formulaToStr weapon.formula}}">
                                        <a>{{format-formula weapon.formula}}</a>
                                    </td>
                                    <td> {{weapon.damageValue}}</td>
                                </tr>
                            {{/ifDifferent}}
                        {{/each}}
                        </tbody>
                    </table>
                    <header class="subheader-field">
                        <span>Current Equipped Armor</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Armor</th>
                            <th>Rating</th>
                            <th>Penalty</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each character.owned.armors as |armor index|}}
                            {{#ifDifferent armor.system.equipped ../notEquipped}}
                                <tr>
                                    <td>{{armor.name}}</td>
                                    <td>{{armor.system.rating}}</td>
                                    <td>{{armor.system.penalty}}</td>
                                </tr>
                            {{/ifDifferent}}
                        {{/each}}
                        </tbody>
                    </table>
                    <section class="heroes">
                        <header class="subheader-field">
                            <span>Attached Heroes</span>
                        </header>
                        <ol  class="list equipment-list">
                            <li class="list-header flexrow">
                                <div class="">Name</div>
                                <div class="item-controls"><i class="fas fa-cog"></i></div>
                            </li>
                            {{#each character.owned.heroes as |hero index|}}
                                <li class="item heroes flexrow" data-item-id="{{_id}}">
                                    <div class="actor-open field"><a>{{hero.name}}</a></div>
                                    <div class="item-controls">
                                        <a class="checkButton equipped {{showIfEquals "5" hero.system.equipped "activated" ""}}" data-item-id="{{_id}}" data-hand="{{showIfEquals "5" hero.system.equipped 0 5}}" data-type="hero"><i class="fas fa-star"></i></a>
                                        <a class="item-control owned-item-control" title="Delete" data-index="{{index}}" data-list="heroes" data-action="delete"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/each}}
                        </ol>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="formation flex-3">
        <header class="header-field">
            <span>Formation</span>
        </header>
        <li class="list-header flexrow">
            <div class="flex-9">Name</div>
            <div class="center flex-1">Difficulty</div>
        </li>
        <div class="disposition-list">
            {{#each formations}}
                <div class="disposition formation option {{showIfEquals this.rating ../character.currentFormation "selected"}}" data-id="{{this.rating}}">
                    <li class="flexrow" data-id="{{this.rating}}">
                        <label class="flex-9" data-id="{{this.rating}}">{{localize this.name}}</label>
                        <label class="center flex-1" data-id="{{this.rating}}">
                            {{showIfDifferent 0 this.difficulty this.difficulty : ""}}
                        </label>
                    </li>
                    <li class="flexrow" data-id="{{this.rating}}">
                        {{#each this.conditionalModifiers}}
                            <label class="font-small padding-3" data-id="{{this.rating}}">{{this}}</label>
                        {{/each}}
                    </li>
                </div>
            {{/each}}
        </div>
    </section>
</div>
